/docs
/site
/build
/dist
/venv
*.egg-info
*.pyc
*.qmlc
*.pdf
*.log
*.var
*.var.bak
*.pref
*.pickle
*.halscope
.tmp*
.idea/
.DS_Store
*~
*#

# Compiled Qt resource and ui files
*_rc.py
*_ui.py

# update INI backups
sim/*.old

# sphinx
/docs_src/build

# debian packages
*.deb

# persistent data files
*messages.json
*settings.json
/.project
/.pydevproject

/debian/changelog
/debian/files
/debian/.pybuild/
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/python3-probe-basic/
/debian/python3-probe-basic.prerm.debhelper
/debian/python3-probe-basic.postinst.debhelper
/debian/python3-probe-basic.substvars
