recursive-include probe_basic *.yml *.yaml *.ui *.qss *qrc *.qml *.png *.ttf
recursive-include probe_basic_lathe *.yml *.yaml *.ui *.qss *qrc *.qml *.png *.ttf
recursive-include widgets *.yml *.yaml *.ui *.qss *qrc *.qml *.png *.ttf
recursive-include configs *.*
recursive-include fonts *.*
recursive-include icons *.*

include versioneer.py
include probe_basic/_version.py