recursive-include src/probe_basic *.yml *.yaml *.ui *.qss *.qrc *.qml *.png *.svg *.ini
recursive-include src/probe_basic_lathe *.yml *.yaml *.ui *.qss *.qrc *.qml *.png *.svg *.ini
recursive-include src/widgets *.yml *.yaml *.ui *.qss *.qrc *.qml *.png *.svg

include versioneer.py
include src/probe_basic/_version.py
