recursive-include src/probe_basic *.yml *.yaml *.ui *.qss *.qrc *.qml *.png *.svg *.ini *.py
recursive-include src/probe_basic_lathe *.yml *.yaml *.ui *.qss *.qrc *.qml *.png *.svg *.ini *.py
recursive-include src/widgets *.yml *.yaml *.ui *.qss *.qrc *.qml *.png *.svg *.py

include src/versioneer.py
