Source: probe-basic
Section: cnc
Priority: optional
Maintainer: Kcjengr <kcjengr@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-qtpyvcp
Standards-Version: 4.5.1
Homepage: https://github.com/kcjengr/probe-basic
Vcs-Git: https://github.com/kcjengr/probe-basic.git
X-Python3-Version: >= 3.7
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: python3-probe-basic
Architecture: all
Description: probe-basic is a virtual control panel user interface for LinuxCNC machine control.
Depends: ${python3:Depends}, ${misc:Depends}, python3-setuptools, python3-yaml, python3-pyqt5, python3-dbus.mainloop.pyqt5, python3-pyqt5.qtopengl, python3-pyqt5.qsci,
