#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	# Create the truetype directory if it doesn't exist
	mkdir -p debian/python3-probe-basic/usr/share/fonts/truetype/
	# Install the font file
	install -m 644 BebasKai.ttf debian/python3-probe-basic/usr/share/fonts/truetype/
