Package: python3-probe-basic
Source: probe-basic
Version: 0.5.1
Architecture: all
Maintainer: Kcjengr <kcjengr@gmail.com>
Installed-Size: 113105
Depends: python3:any (>= 3.7~), python3-setuptools, python3-yaml, python3-pyqt5, python3-dbus.mainloop.pyqt5, python3-pyqt5.qtopengl, python3-pyqt5.qsci
Section: cnc
Priority: optional
Homepage: https://github.com/kcjengr/probe-basic
Description: probe-basic is a virtual control panel user interface for LinuxCNC machine control.
