[Desktop Entry]
Version=1.0
Type=Application
Name=Designer for PB Mill
Comment=QTDesigner for PB Mill
Exec=~/dev/probe_basic_mill_designer.sh
Icon=/home/py3dev/dev/probe_basic/dev_launchers/qtpyvcp2.png
Path=~/dev
Terminal=false
StartupNotify=false
