[Desktop Entry]
Version=1.0
Type=Application
Name=Designer for PB Lathe
Comment=QTDesigner for PB Lathe
Exec=/home/username/dev/probe_basic/dev_launchers/probe_basic_lathe_designer.sh
Icon=qtpyvcp
Path=/home/username/dev/
Terminal=false
StartupNotify=false
