[Desktop Entry]
Version=1.0
Type=Application
Name=Designer for PB Mill Vertical
Comment=QTDesigner for PB Mill Vertical
Exec=/home/username/dev/probe_basic/dev_launchers/probe_basic_mill_vertical_designer.sh
Icon=qtpyvcp
Path=/home/username/dev
Terminal=false
StartupNotify=false
