[Desktop Entry]
Version=1.0
Type=Application
Name=PB Lathe Designer
Comment=QTDesigner for PB Lathe
Exec=/home/py3dev/Dev/probe_basic_lathe_designer.sh
Icon=/home/py3dev/Pictures/qtpyvcp2.png
Path=/home/py3dev/Dev
Terminal=false
StartupNotify=false
