[Desktop Entry]
Version=1.0
Type=Application
Name=PB Mill Designer
Comment=QTDesigner for PB Mill
Exec=/home/py3dev/Dev/probe_basic_mill_designer.sh
Icon=/home/py3dev/Pictures/qtpyvcp2.png
Path=/home/py3dev/Dev
Terminal=false
StartupNotify=false
