[Desktop Entry]
Version=1.0
Type=Application
Name=Probe Basic Mill
Comment=Probe Basic CNC Control Interface
Exec=~/dev/probe_basic_mill_launcher.sh
Icon=/home/py3dev/dev/probe_basic/dev_launchers/probe_basic_icon.png
Path=~/dev
Terminal=false
StartupNotify=false
