[Desktop Entry]
Version=1.0
Type=Application
Name=Probe Basic ATC Mill Inch
Comment=Probe Basic CNC Control Interface with ATC sim
Exec=/home/g0704/Dev/probe_basic/dev_launchers/probe_basic_atc_mill_launcher.sh
Icon=probe_basic_mill
Path=/home/g0704/Dev
Terminal=false
StartupNotify=false
