[Desktop Entry]
Version=1.0
Type=Application
Name=Probe Basic Lathe
Comment=Probe Basic Lathe CNC Control Interface
Exec=/home/username/dev/probe_basic/dev_launchers/probe_basic_lathe_launcher.sh
Icon=probe_basic_lathe
Path=/home/username/dev
Terminal=false
StartupNotify=false
