[Desktop Entry]
Version=1.0
Type=Application
Name=Probe Basic Lathe
Comment=Probe Basic Lathe CNC Control Interface
Exec=/home/py3dev/Dev/probe_basic_lathe_launcher.sh
Icon=/home/py3dev/Pictures/probe_basic_icon_lathe.png
Path=/home/py3dev/Dev
Terminal=false
StartupNotify=false
